[submodule ".registry"]
	path = .registry
	url = https://github.com/r-universe-org/cran-to-git
	branch = HEAD
[submodule "AteMeVs"]
	path = AteMeVs
	url = https://github.com/cran/AteMeVs
[submodule "NetDA"]
	path = NetDA
	url = https://github.com/cran/NetDA
[submodule "SurvGME"]
	path = SurvGME
	url = https://github.com/cran/SurvGME
